
@{
    ViewBag.Title = "SubmitExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu {
    @RenderPage("~/Views/Shared/_SideMenuUser.cshtml")
}


<h2>SubmitExam</h2>

<h1>Marks : @ViewBag.Marks</h1>