@model IEnumerable<ExamWeb.Models.QuestionViewModels.QuestionDisplayVM>

@using ExamWeb.Models.QuestionViewModels
@using ExamWeb.Models.ChoiceViewModels

@RenderPage("~/Views/Shared/_PopupModel.cshtml")
@section Menu {
    @RenderPage("~/Views/Shared/_SideMenuAdmin.cshtml")
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box ui-draggable ui-droppable">
    <div class="box-header">
        <div class="box-name">
            <i class="fa fa-calendar-o"></i>
            <span>Question Manager</span>
        </div>


    </div>


    <div class="box-content">

        <div class="row">

            <a id="btnAddQuestion" href="#" class="btn btn-success btn-lg" style="float:right; margin-right:50px;"><span class="glyphicon glyphicon-plus"></span>Add Question</a>

        </div>

        <div id="accordion">
            @foreach (QuestionDisplayVM vm in Model)
            {
                <h3>
                    @vm.QuestionDescription     
                </h3>
                <div>
                    <div><a name="btnAddChoice" url="/QuestionManager/CreateChoice/@vm.ID" href="#" class="btn btn-info btn-sm" style="float:right; margin-right:10px;"><span class="glyphicon glyphicon-plus"></span>Add Choice</a></div>
                    <br/>
                    @{Html.RenderAction("GetChoicesByQuestion", new { id = vm.ID });}
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#accordion").accordion();

        $('#btnAddQuestion').click(function () {
            $('#modeldata').empty();
            $('#modeldata').html('<img src="http://www.bba-reman.com/images/fbloader.gif" />');
            $('#myModalLabel').text("Add Question");
            $.ajax({
                type: "GET",
                url: "/QuestionManager/Create/" + @ViewBag.ExaminationID,
                datatype: "html",
                success: function (data) {

                    $('#modeldata').empty();
                    $('#modeldata').html(data);
                    $('#smallModal').modal();
                }
            });



        });



        $('[name=btnAddChoice]').click(function () {

            $('#modeldata').empty();
            $('#modeldata').html('<img src="http://www.bba-reman.com/images/fbloader.gif" />');
            $('#myModalLabel').text("Add Question");
            $.ajax({
                type: "GET",
                url: $(this).attr('url'),
                datatype: "html",
                success: function (data) {

                    $('#modeldata').empty();
                    $('#modeldata').html(data);
                    $('#smallModal').modal();
                }
            });




        });
    });
</script>

